<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sena.dmzjthird">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoAction"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".novel.view.NovelFilterActivity"
            android:exported="false" />
        <activity
            android:name=".custom.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".account.view.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".custom.clipView.ClipActivity"
            android:exported="false" />
        <activity
            android:name=".account.view.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".account.view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".custom.LargeImageActivity"
            android:exported="true" />
        <activity
            android:name=".comic.view.CommentReplyActivity"
            android:exported="true" />
        <activity
            android:name=".comic.view.UserInfoActivity"
            android:exported="true" />
        <activity
            android:name=".comic.view.ComicSearchActivity"
            android:exported="true" />
        <activity
            android:name=".comic.view.ComicViewActivity"
            android:exported="true" />
        <activity
            android:name=".comic.view.ComicTopicInfoActivity"
            android:exported="true" />
        <activity
            android:name=".account.view.UserCommentActivity"
            android:exported="true" />
        <activity
            android:name=".account.view.UserSubscribedActivity"
            android:exported="true" />
        <activity
            android:name=".comic.view.ComicFilterActivity"
            android:exported="true" />
        <activity
            android:name=".comic.view.AuthorInfoActivity"
            android:exported="true" />
        <activity
            android:name=".comic.view.ComicInfoActivity"
            android:exported="true" />
        <activity android:name=".account.view.LoginActivity" />
        <activity android:name=".account.view.SettingComicReadActivity" />
        <activity android:name=".account.view.SettingActivity" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>